
<div class="row mt pt">

    <div class="large-12 columns">

        <div class="tags-cloud glassy-bg mb pb">
           <%= image_tag("Cloud9.png") %>
        </div>

        <div class="top-pad glassy-bg">

          <p class="large-text-left"><em>This application is one of the final assignments from  <a href="http://www.gotealeaf.com/">Tealeaf Academy</a> Rapid Prototyping with Ruby on Rails(course3) in
              which the student is to create a sample application ideally based on the ruby and rails techniques learned in the course. The purpose is to reinforce
          what you have learned, also also a bit of a wake-up call as to coding from tutorials and videos and from memory.</em></p>

          <p class="large-text-left"><em>The application I chose was based on wanting to review some general rails concepts that all rails
          applications have, and also possibly cover some new ones based on interest.  I have always been interestd in the tagging paradigm, so
          therefore this app demomstrates that for the most part.  I also wanted to try the <a href="http://foundation.zurb.com/">Foundation Framework</a> to see how it compares
          to bootstrap.</em></p>

           <div class = "panel">
             Here is a quick summary of what this app practices: <br>
             1. Demonstrate cloud navigation and search using tagging from scratch(no gem and railscast!).<br>
             2. Use Foundation framework. <br>
             3. Authentication from scratch register/login/logout.<br>
             4. General Post-IT techniques like helpers.
           </div>

          <h3 class="subheader">Observations</h3>
          <p class="large-text-left"><em>I spent a lot of time on the front end, but it was time that
          had to be done and that was my plan anyway. And when i deployed to Heroku, the SQLite generated
            SQL for the tag count method would not work under PostgreSql, so I spend some time on StackOverflow
            to find how I needed to redo the rails syntax. I have adopted the attitude based on experience now
            that ANY bug is almost welcome now, in that you learn so much from fixing that bug even more so than
            just coding the working parts if that makes sense. </em></p>

          <p class="large-text-left"><em> Can I sit down, and code an entire Rails application
          quickly and not referencing my old code?  No.  But I hope at some point with more practice I will be able to.
          Progress in Rails is hard to measure for some reason.  There are so many little weird things, and not being
            familiar with one of them(even the placement of a colon) can interrupt your flow.  That said, I did find
            that as i neared the completion of this app, I was feeling more comfortable, which was the original goal I guess. As they say,
            it's a learning process...
          </em></p>

          <p class="large-text-left"><em>The code for this app is available on <a href="https://github.com/eaglerockdude/railsw_tagging">Github.</a></em></p>

          <%= link_to 'Go Back', root_path %>
        </div>



    </div>

</div>
