
<div class="row mt pt">

        <div class="large-block-grid">

           <div class ="logo"><%= image_tag("Cloud9.png") %></div>


          <div id="myCanvasContainer">
            <canvas width="700" height="700" id="myCanvas">

              <a href="">Tealeaf Academy</a>
              <a href="" >Brandon Conway</a>
              <a href="" >Tomas Tomecek</a>
              <a href="" >Chris Lee</a>
              <a href="" >Eyes without a Face</a>
              <a href="" >Snoopy</a>
              <a href="" >Green Pill Red Pill</a>
              <a href="" >David Heinemeier Hansson</a>
              <a href="" >Nokogiri</a>
              <a href="" >Ruby on Rails</a>
              <a href="" >StackOverflow</a>
              <a href="" >API Dock</a>
              <a href="" >Rails Guides</a>
              <a href="" >Yukihiro Matsumoto(Matso)</a>
              <a href="" >RVM</a>
              <a href="" >RubyGems</a>
              <a href="" >GitHub</a>


            </canvas>

          </div>
          <div class = "row center">
            <%= link_to "ENTER", index_path, class: "button expand" %>
          </div>


        </div>
</div>
